@model gestionPharmacieApp.Models.Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFournisseurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFournisseurNavigation.IdFournisseur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceNavigation.Reference)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCommande">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
