@model gestionPharmacieApp.Models.Vente

@{
    ViewData["Title"] = "Détails de la Vente";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow" style="width: 90%;height: 90%">
        <div class="card-header  text-white" style="background-color: #4B5920;">
            <h3 class="card-title text-center">Détails de la Vente</h3>
        </div>
        <div class="card-body text-center">
            <div class="row mb-3">
                <div class="col-sm-6 font-weight-bold">Date de la Vente :</div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.DateVente)</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 font-weight-bold">Quantité :</div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.Quantite)</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 font-weight-bold">CIN du client :</div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.IdClientNavigation.Cin)</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 font-weight-bold">Libelle du produit :</div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.ReferenceNavigation.Libelle)</div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
            <a asp-action="Delete" asp-route-id="@Model.IdVente" class="btn btn-danger">Annuler la vente</a>
        </div>
    </div>
</div>