@model gestionPharmacieApp.Models.Vente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClientNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClientNavigation.IdClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceNavigation.Reference)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
