@model IEnumerable<gestionPharmacieApp.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Bouton pour créer un nouveau produit -->
<div class="mb-4 text-left">
    <a asp-action="Create" class="btn btn-success" >Créer un nouveau client</a>
</div>

<!-- Formulaire de recherche -->
<form asp-action="Search" method="get" class="d-flex align-items-center mb-3">
    <label for="searchType" class="mr-2 font-weight-bold">Rechercher par :</label>
    <select id="searchType" name="searchType" class="form-control mr-3" style="width: auto;">
        <option value="cin">CIN</option>
        <option value="nom">Nom</option>
    </select>
    <input type="text" name="keyword" class="form-control flex-grow-1 mr-3" placeholder="Mot-clé" required />
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                CIN
            </th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Points de fidélité</th>
            <th>Remise</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cin)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CinNavigation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CinNavigation.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgFidelites.Points)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgFidelites.Remise)
                </td>
                
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdClient" class="btn btn-info btn-sm">Détails</a>
                </td>
        </tr>
}
    </tbody>
</table>


