@model gestionPharmacieApp.Models.Fournisseur

@{
    ViewData["Title"] = "Détails du Fournisseur";
}

<h1>Détails du Fournisseur</h1>

<div>
    <h4>Fournisseur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Id Fournisseur</dt>
        <dd class="col-sm-9">@Model.IdFournisseur</dd>

        <dt class="col-sm-3">Nom Société</dt>
        <dd class="col-sm-9">@Model.NomSociete</dd>

        <dt class="col-sm-3">Adresse</dt>
        <dd class="col-sm-9">@Model.Adresse</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>
    </dl>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.IdFournisseur" class="btn btn-warning">Modifier</a>
        <a asp-action="Delete" asp-route-id="@Model.IdFournisseur" class="btn btn-danger">Supprimer</a>
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
